USE [DATABASEPIA2017]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JOB_HISTORY_JOB_HISTORY1]') AND parent_object_id = OBJECT_ID(N'[dbo].[JOB_HISTORY]'))
ALTER TABLE [dbo].[JOB_HISTORY] DROP CONSTRAINT [FK_JOB_HISTORY_JOB_HISTORY1]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JOB_HISTORY_JOB_HISTORY]') AND parent_object_id = OBJECT_ID(N'[dbo].[JOB_HISTORY]'))
ALTER TABLE [dbo].[JOB_HISTORY] DROP CONSTRAINT [FK_JOB_HISTORY_JOB_HISTORY]
GO
/****** Object:  Table [dbo].[REGIONS]    Script Date: 18/09/2017 09:33:38 p.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REGIONS]') AND type in (N'U'))
DROP TABLE [dbo].[REGIONS]
GO
/****** Object:  Table [dbo].[LOCATIONS]    Script Date: 18/09/2017 09:33:38 p.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LOCATIONS]') AND type in (N'U'))
DROP TABLE [dbo].[LOCATIONS]
GO
/****** Object:  Table [dbo].[JOBS]    Script Date: 18/09/2017 09:33:38 p.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[JOBS]') AND type in (N'U'))
DROP TABLE [dbo].[JOBS]
GO
/****** Object:  Table [dbo].[JOB_HISTORY]    Script Date: 18/09/2017 09:33:38 p.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[JOB_HISTORY]') AND type in (N'U'))
DROP TABLE [dbo].[JOB_HISTORY]
GO
/****** Object:  Table [dbo].[EMPLOYEES]    Script Date: 18/09/2017 09:33:38 p.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMPLOYEES]') AND type in (N'U'))
DROP TABLE [dbo].[EMPLOYEES]
GO
/****** Object:  Table [dbo].[DEPARTMENTS]    Script Date: 18/09/2017 09:33:38 p.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DEPARTMENTS]') AND type in (N'U'))
DROP TABLE [dbo].[DEPARTMENTS]
GO
/****** Object:  Table [dbo].[COUNTRIES]    Script Date: 18/09/2017 09:33:38 p.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COUNTRIES]') AND type in (N'U'))
DROP TABLE [dbo].[COUNTRIES]
GO
/****** Object:  User [Mate_13-PC\Mate_13]    Script Date: 18/09/2017 09:33:38 p.m. ******/
IF  EXISTS (SELECT * FROM sys.database_principals WHERE name = N'Mate_13-PC\Mate_13')
DROP USER [Mate_13-PC\Mate_13]
GO
USE [master]
GO
/****** Object:  Database [DATABASEPIA2017]    Script Date: 18/09/2017 09:33:38 p.m. ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'DATABASEPIA2017')
DROP DATABASE [DATABASEPIA2017]
GO
/****** Object:  Database [DATABASEPIA2017]    Script Date: 18/09/2017 09:33:38 p.m. ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'DATABASEPIA2017')
BEGIN
CREATE DATABASE [DATABASEPIA2017]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DATABASEPIA2017', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DATABASEPIA2017.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DATABASEPIA2017_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DATABASEPIA2017_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DATABASEPIA2017].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DATABASEPIA2017]
GO
/****** Object:  User [Mate_13-PC\Mate_13]    Script Date: 18/09/2017 09:33:38 p.m. ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'Mate_13-PC\Mate_13')
CREATE USER [Mate_13-PC\Mate_13] FOR LOGIN [Mate_13-PC\Mate_13] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[COUNTRIES]    Script Date: 18/09/2017 09:33:38 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COUNTRIES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[COUNTRIES](
	[country_id] [nchar](10) NULL,
	[country_name] [nchar](10) NULL,
	[region_id] [nchar](10) NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[DEPARTMENTS]    Script Date: 18/09/2017 09:33:38 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DEPARTMENTS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DEPARTMENTS](
	[department_id] [nchar](10) NULL,
	[department_name] [nchar](10) NULL,
	[manager_id] [nchar](10) NULL,
	[location_id] [nchar](10) NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[EMPLOYEES]    Script Date: 18/09/2017 09:33:38 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMPLOYEES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EMPLOYEES](
	[employee_id] [nchar](10) NULL,
	[first_name] [nchar](10) NULL,
	[last_name] [nchar](10) NULL,
	[email] [nchar](10) NULL,
	[phone_number] [nchar](10) NULL,
	[hire_date] [nchar](10) NULL,
	[job_id] [nchar](10) NULL,
	[salary] [nchar](10) NULL,
	[commission_pct] [nchar](10) NULL,
	[manager_id] [nchar](10) NULL,
	[deparment_id] [nchar](10) NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[JOB_HISTORY]    Script Date: 18/09/2017 09:33:38 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[JOB_HISTORY]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[JOB_HISTORY](
	[employee_id] [numeric](18, 0) NOT NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[job_id] [nvarchar](50) NULL,
	[department_id] [nvarchar](50) NULL,
 CONSTRAINT [PK_JOB_HISTORY] PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[JOBS]    Script Date: 18/09/2017 09:33:38 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[JOBS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[JOBS](
	[job_id] [numeric](18, 0) NULL,
	[job_title] [nchar](10) NULL,
	[min_salary] [nchar](10) NULL,
	[max_salary] [nchar](10) NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[LOCATIONS]    Script Date: 18/09/2017 09:33:38 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LOCATIONS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LOCATIONS](
	[location_id] [nchar](10) NULL,
	[street_address] [nchar](10) NULL,
	[postal_code] [nchar](10) NULL,
	[city] [nchar](10) NULL,
	[state_province] [nchar](10) NULL,
	[country_id] [nchar](10) NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[REGIONS]    Script Date: 18/09/2017 09:33:38 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REGIONS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[REGIONS](
	[region_id] [nchar](10) NULL,
	[region_name] [nchar](10) NULL
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JOB_HISTORY_JOB_HISTORY]') AND parent_object_id = OBJECT_ID(N'[dbo].[JOB_HISTORY]'))
ALTER TABLE [dbo].[JOB_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_JOB_HISTORY_JOB_HISTORY] FOREIGN KEY([employee_id])
REFERENCES [dbo].[JOB_HISTORY] ([employee_id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JOB_HISTORY_JOB_HISTORY]') AND parent_object_id = OBJECT_ID(N'[dbo].[JOB_HISTORY]'))
ALTER TABLE [dbo].[JOB_HISTORY] CHECK CONSTRAINT [FK_JOB_HISTORY_JOB_HISTORY]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JOB_HISTORY_JOB_HISTORY1]') AND parent_object_id = OBJECT_ID(N'[dbo].[JOB_HISTORY]'))
ALTER TABLE [dbo].[JOB_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_JOB_HISTORY_JOB_HISTORY1] FOREIGN KEY([employee_id])
REFERENCES [dbo].[JOB_HISTORY] ([employee_id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JOB_HISTORY_JOB_HISTORY1]') AND parent_object_id = OBJECT_ID(N'[dbo].[JOB_HISTORY]'))
ALTER TABLE [dbo].[JOB_HISTORY] CHECK CONSTRAINT [FK_JOB_HISTORY_JOB_HISTORY1]
GO
USE [master]
GO
